html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: gray;
    background-image: linear-gradient(#2c1a7e, #5251d0);
    color: white;
    font-family: sans-serif;
}